<!DOCTYPE html>
<html>
    <body>
        <form action="http://127.0.0.1:5000/config" method="POST">
            <label for="quantity">Number of fields:</label>
            <select name="quantity" id="quantity">
                <option selected value="{{quantity}}">{{quantity}}</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <br /><br />
            {% for field in range(quantity) %}
            <input type="text" name="{{loop.index}}" id="{{loop.index}}" />

            {% endfor %}
            <br /><br />
            <input type="submit" value="Submit" />
        </form>
        {% for field in range(quantity) %} {% endfor %}
    </body>
</html>
