<!DOCTYPE html>
<html>
    <head>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='styles.css') }}"
        />
    </head>

    <body>
        <div class="container">
            {% for key in keys %}
            <form action="http://127.0.0.1:5000/shortcut/{{key}}" method="GET">
                <button type="submit" class="one" id="b{{loop.index}}">
                    {{loop.index}}
                </button>
            </form>
            {% endfor %}
            <!-- <button class="one" id="b1">1</button>
        <button class="one" id="b2">2</button>
        <button class="one" id="b3">3</button>
        <button class="one" id="b4">4</button> -->
        </div>
    </body>
</html>
